.filterpage {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  padding: 55px 0;
}
.f-left {
  width: 20%;
  height: 100vh;
  padding-top: 55px;
  gap: 20px;
}
.f-right {
  width: 70%;
}
.yangicard {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.yangicard > div {
  width: 277px;
  height: 399px;
}

.input-rpogress {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 16px;
  padding-top: 10px;
}
.input-rpogress > p,
#v {
  color: rgb(93, 102, 97);
  font-family: Poppins;
  font-size: 22.65px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: left;
}

.input-size {
  display: flex;
  align-items: start;
  gap: 83px;
}
.input-rpogress > .input-size > input {
  border: 1px solid black;
  width: 122px;
  height: 49px;
  box-sizing: border-box;
  border: 1px solid rgba(93, 102, 97, 0.5);
  border-radius: 11px;

  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(253, 253, 253);
  padding-left: 10px;
  margin-bottom: 20px;
}
.f-left label.custome-checkbox:first-of-type {
  margin-top: 15px;
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .f-left {
    width: 30%;
  }
  .f-right {
    width: 60%;
  }

  .f-right .yangicard .card {
    width: 300px;
  }
}
@media (max-width: 1600px) {
  .yangicard {
    justify-content: end;
  }
}
@media (max-width: 1320px) {
  .yangicard .card {
    width: 260px !important;
  }
}
@media (max-width: 1110px) {
  .yangicard {
    justify-content: center;
  }
  .yangicard .card {
    width: 330px !important;
  }
  div.input-size {
    gap: 25px;
  }
  .css-y7lfwo {
    width: 269px !important;
  }
  .f-left :where(.custome-checkbox, .custome-select) {
    width: auto;
  }
  .f-left button.menu-header {
    width: 269px !important;
  }
  .f-left div.options {
    width: 269px !important;
  }
}
@media (max-width: 910px) {
  .yangicard {
    justify-content: end;
  }
  .yangicard .card {
    width: 280px !important;
  }
}
@media (max-width: 800px) {
  .yangicard {
    justify-content: center;
  }
  .yangicard .card {
    width: 260px !important;
  }
  .filter-select {
    width: 150px !important;
  }
  .f-left .custome-checkbox p {
    font-size: 20px;
  }
  .f-left .custome-checkbox svg {
    width: 20px;
    height: 20px;
  }
  .f-left button.menu-header {
    font-size: 20px;
  }
}
@media (max-width: 700px) {
  .filterpage {
    flex-direction: column;
    align-items: center;
  }
  .f-left,
  .f-right {
    width: 100%;
  }
  .f-left {
    height: auto;
    padding: 0 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

@media (max-width: 660px) {
  .yangicard .card {
    width: 300px !important;
  }
}
@media (max-width: 370px) {
  .yangicard .card {
    width: 260px !important;
  }
}
