.personinfo {
  display: flex;
  justify-content: space-between;
  padding: 100px 0px;
}

.personleft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.personright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: sticky;
  top: 60px;
}
.personright > button {
  width: 300px;
  height: 64px;
  border-radius: 11px;
  background: #fff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: center;
  gap: 8px;
  color: #5d6661;
  font-family: Poppins;
  font-size: 22.65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* person page start */
.person {
  width: 1184px;
  height: 826px;
  flex-shrink: 0;
  border-radius: 11px;
  background: #fcfcfc;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 4.9px 0px rgba(0, 0, 0, 0.25);
}

.p-left {
  width: 790px;
  height: 826px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 3px solid #5d6661;
}

.p-left-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 65px 45px;
  gap: 30px;
}
.user-img {
  width: 210px;
  height: 210px;
  flex-shrink: 0;
  background-color: #0085af;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-text-info {
  display: flex;
  flex-direction: column;
}
.p-text-info > p {
  color: #5d6661;
  font-size: 55.9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p-text-info > span {
  color: #5d6661;
  font-size: 22.65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.p-text-info > b {
  color: #5d6661;
  font-family: Poppins;
  font-size: 36.65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.p-right {
  width: 394px;
  display: flex;
  align-items: center;
}
.p-right > span {
  color: #5d6661;
  text-align: center;
  font-size: 36.65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p-left > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 27px;
  padding: 33px 66px 33px 45px;
}
.p-left > form > label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #5d6661;
  font-size: 36.65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 20px;
}
.p-left > form > button {
  display: inline-flex;
  padding: 8px 54px;
  align-items: center;
  gap: 23px;
  border-radius: 11px;
  background: #3498db;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);

  color: #fff;
  font-family: Poppins;
  font-size: 36.65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

form > label > input {
  width: 416px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 11px;
  background: #fff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  background: none;
  text-align: center;
  color: #5d6661;
  font-size: 36.65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cards-container {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
}

/* person page end */

/* payme page start */
.payme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 0;
}
.payme > p {
  color: #5d6661;
  font-size: 55.9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.payme-click {
  display: flex;
  align-items: center;
  gap: 71px;
  padding: 25px 0 56px 0;
}
.payme-click > button {
  width: 416px;
  height: 199px;
  background: none;
  border-radius: 11px;
  background: #fff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}
.payme-click button.active-type,
.payme-click > button:hover {
  border: 3px solid #3498db;
}
.payme > label {
  display: flex;
  align-items: center;
  color: #5d6661;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 14px;
}
.payme > label > input {
  width: 295px;
  height: 88px;
  flex-shrink: 0;
  border-radius: 11px;
  text-align: center;
  background: #fff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);

  color: #5d6661;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.payme :nth-child(5) {
  padding: 8px 54px;
  align-items: center;
  gap: 23px;
  border-radius: 11px;
  background: #3498db;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: Poppins;
  font-size: 36.65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 92px;
}
/* payme page end */

/* RESPONSIVE */

@media (max-width: 1870px) {
  .person {
    width: 100%;
  }
  .p-left {
    width: 900px;
    border-right: none;
  }
  .p-right {
    display: none;
  }
}

@media (max-width: 1500px) {
  .p-left {
    width: 800px;
  }
}

@media (max-width: 1350px) {
  .p-left {
    width: 100%;
  }
  .user-img {
    width: 150px;
    height: 150px;
  }
  .p-text-info p {
    font-size: 44px;
  }
  .p-text-info b {
    font-size: 30px;
  }
  @scope (.p-left) {
    form label p {
      font-size: 30px;
    }
    form button,
    form label input {
      width: 60% !important;
      font-size: 30px !important;
    }
  }
}

@media (max-width: 1200px) {
  .p-text-info p {
    font-size: 38px;
  }
  .p-text-info b {
    font-size: 26px;
  }
}

@media (max-width: 1100px) {
  .p-left {
    height: 720px;
  }
  .p-left-top {
    padding: 45px;
  }
  .p-left form {
    padding: 45px;
  }
  .p-left form label p,
  .p-left form label input {
    font-size: 24px !important;
  }
  .user-img {
    width: 100px;
    height: 100px;
  }
  .p-text-info p {
    font-size: 28px;
  }
  .p-text-info span {
    font-size: 18px;
  }
  .p-text-info b {
    font-size: 22px;
  }
}

@media (max-width: 1145px) {
  .person {
    width: 95%;
  }
}

@media (max-width: 1000px) {
  .personinfo {
    position: relative;
  }
  .personright {
    min-width: 60px;
    min-height: 60px;
    position: absolute;
    top: 20px;
    right: 0;
    background: #fff;
    border: 1px solid #0085af;
    border-radius: 11px;
    padding: 20px;
    z-index: 3;
    transition: all 0.5s ease;
  }
  .personright::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 12px;
    right: 15px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"/><line x1="3" y1="6" x2="21" y2="6"/><line x1="3" y1="18" x2="21" y2="18"/></svg>')
      no-repeat center center;
    width: 30px;
    height: 30px;
    fill: black;
    transition: all 0.5s ease;
  }

  .personright:hover .hidden-button {
    display: flex !important;
    margin-right: 50px;
  }

  .personright button {
    display: none;
    transition: all 0.5s ease;
  }

  .personleft,
  .person-left,
  .person {
    width: 100%;
  }
  .personinfo .cards-container {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .p-left form label p {
    font-size: 18px !important;
  }
  .p-left form button {
    margin: 20px auto 0;
    font-size: 20px;
    gap: 0;
    display: inline-block;
  }
  .p-left form button svg {
    display: none;
  }
  .p-left form label input {
    width: 150px !important;
    height: 50px;
    font-size: 18px !important;
  }
}
/* @media (max-width: 1620px) {
  .personleft {
    width: 1050px;
  }
  .payme-click {
    width: 850px;
  }
}
@media (max-width: 1572px) {
  .personleft {
    width: 1000px;
  }
  .payme-click {
    width: 800px;
  }
  .payme-click > button > img {
    width: 300px;
  }
}
@media (max-width: 1515px) {
  .personleft {
    width: 970px;
  }
  .payme-click {
    width: 770px;
  }
  .payme-click > button > img {
    width: 270px;
  }
  .payme > p {
    font-size: 50px;
  }
}

@media (max-width: 1481px) {
  .personleft {
    width: 930px;
  }
  .payme-click {
    width: 730px;
  }
  .payme-click > button > img {
    width: 270px;
  }
  .payme > p {
    font-size: 50px;
  }
}
@media (max-width: 1450px) {
  .personleft {
    width: 900px;
  }
  .payme-click {
    width: 700px;
  }
  .payme-click > button > img {
    width: 250px;
  }
  .payme > p {
    font-size: 47px;
  }
}

@media (max-width: 1410px) {
  .personleft {
    width: 870px;
  }
  .payme-click {
    width: 670px;
  }
  .payme-click > button > img {
    width: 250px;
  }
  .payme-click > button {
    height: 180px;
  }
  .payme > p {
    font-size: 47px;
  }
}

@media (max-width: 1380px) {
  .personleft {
    width: 850px;
  }
  .payme-click {
    width: 650px;
  }
  .payme-click > button > img {
    width: 240px;
  }
  .payme > p {
    font-size: 45px;
  }
}
@media (max-width: 1360px) {
  .personleft {
    width: 830px;
  }
  .payme-click {
    width: 630px;
  }
  .payme-click > button > img {
    width: 220px;
  }
  .payme-click > button {
    height: 170px;
  }
  .payme > p {
    font-size: 45px;
  }
}

@media (max-width: 1340px) {
  .personleft {
    width: 800px;
  }
  .payme-click {
    width: 600px;
  }
  .payme-click > button > img {
    width: 220px;
  }
  .payme > p {
    font-size: 45px;
  }
}

@media (max-width: 1310px) {
  .personleft {
    width: 770px;
  }
  .payme-click {
    width: 570px;
  }
  .payme-click > button > img {
    width: 220px;
  }
  .payme > p {
    font-size: 45px;
  }
}

@media (max-width: 1285px) {
  .personleft {
    width: 750px;
  }
  .payme-click {
    width: 550px;
  }
  .payme-click > button > img {
    width: 200px;
  }
  .payme-click > button {
    height: 160px;
  }
  .payme > p {
    font-size: 45px;
  }
}
@media (max-width: 1260px) {
  .personleft {
    width: 720px;
  }
  .payme-click {
    width: 520px;
  }
  .payme-click > button > img {
    width: 190px;
  }
  .payme-click > button {
    height: 150px;
  }
  .payme > p {
    font-size: 40px;
  }
}

@media (max-width: 1150px) {
  .personleft {
    width: 700px;
  }
  .payme-click {
    width: 580px;
  }
  .payme-click > button > img {
    width: 190px;
  }
  .payme-click > button {
    height: 150px;
  }
  .payme > p {
    font-size: 40px;
  }
}

@media (max-width: 1130px) {
  .personleft {
    width: 670px;
  }
  .payme-click {
    width: 550px;
  }
  .payme-click > button > img {
    width: 190px;
  }
  .payme-click > button {
    height: 150px;
  }
  .payme > p {
    font-size: 40px;
  }
}

@media (max-width: 1100px) {
  .personleft {
    width: 650px;
  }
  .payme-click {
    width: 530px;
  }
  .payme-click > button > img {
    width: 180px;
  }
  .payme-click > button {
    height: 140px;
  }
  .payme > p {
    font-size: 40px;
  }
}

@media (max-width: 1080px) {
  .personleft {
    width: 630px;
  }
  .payme-click {
    width: 500px;
  }
  .payme-click > button > img {
    width: 170px;
  }
  .payme-click > button {
    height: 130px;
  }
  .payme > p {
    font-size: 40px;
  }
}

@media (max-width: 1060px) {
  .personleft {
    width: 600px;
  }
  .payme-click {
    width: 480px;
  }
  .payme-click > button > img {
    width: 170px;
  }
  .payme-click > button {
    height: 130px;
  }
  .payme > p {
    font-size: 40px;
  }
}
@media (max-width: 1030px) {
  .personleft {
    width: 570px;
  }
  .payme-click {
    width: 450px;
  }
  .payme-click > button > img {
    width: 150px;
  }
  .payme-click > button {
    height: 120px;
  }
  .payme > p {
    font-size: 38 px;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .personleft {
    width: 100%;
  }
  .payme-click {
    width: 750px;
  }
  .payme-click > button > img {
    width: 190px;
  }
  .payme-click > button {
    height: 150px;
  }
  .payme > p {
    font-size: 45px;
    text-align: center;
  }
}
@media (max-width: 970px) {
  .personleft {
    width: 100%;
  }
  .payme-click {
    width: 720px;
  }
  .payme-click > button > img {
    width: 190px;
  }
  .payme-click > button {
    height: 150px;
  }
  .payme > p {
    font-size: 45px;
    text-align: center;
  }
}

@media (max-width: 950px) {
  .personleft {
    width: 100%;
  }
  .payme-click {
    width: 700px;
  }
  .payme-click > button > img {
    width: 190px;
  }
  .payme-click > button {
    height: 150px;
  }
  .payme > p {
    font-size: 45px;
    text-align: center;
  }
}
@media (max-width: 930px) {
  .personleft {
    width: 100%;
  }
  .payme-click {
    width: 670px;
  }
  .payme-click > button > img {
    width: 190px;
  }
  .payme-click > button {
    height: 150px;
  }
  .payme > p {
    font-size: 45px;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .personleft {
    width: 100%;
  }
  .payme-click {
    width: 650px;
  }
  .payme-click > button > img {
    width: 190px;
  }
  .payme-click > button {
    height: 150px;
  }
  .payme > p {
    font-size: 45px;
    text-align: center;
  }
}
@media (max-width: 870px) {
  .personleft {
    width: 100%;
  }
  .payme-click {
    width: 620px;
  }
  .payme-click > button > img {
    width: 190px;
  }
  .payme-click > button {
    height: 150px;
  }
  .payme > p {
    font-size: 45px;
    text-align: center;
  }
}

@media (max-width: 840px) {
  .payme-click {
    width: 600px;
  }
  .payme-click > button > img {
    width: 190px;
  }
  .payme-click > button {
    height: 150px;
  }
  .payme > p {
    font-size: 40px;
    text-align: center;
  }
}

@media (max-width: 810px) {
  .payme-click {
    width: 570px;
  }
  .payme-click > button > img {
    width: 190px;
  }
  .payme-click > button {
    height: 150px;
  }
  .payme > p {
    font-size: 40px;
    text-align: center;
  }
  .payme > label > input {
    width: 250px;
    height: 75px;
  }
}

@media (max-width: 780px) {
  .payme-click {
    width: 650px;
  }
  .payme-click > button > img {
    width: 190px;
  }
  .payme-click > button {
    height: 150px;
  }
  .payme > p {
    font-size: 40px;
    text-align: center;
  }
}

@media (max-width: 750px) {
  .payme-click {
    width: 600px;
  }
  .payme-click > button > img {
    width: 190px;
  }
  .payme-click > button {
    height: 150px;
  }
  .payme > p {
    font-size: 40px;
    text-align: center;
  }
}

@media (max-width: 710px) {
  .payme-click {
    width: 570px;
  }
  .payme-click > button > img {
    width: 190px;
  }
  .payme-click > button {
    height: 150px;
  }
  .payme > p {
    font-size: 40px;
    text-align: center;
  }
}

@media (max-width: 680px) {
  .payme-click {
    width: 540px;
  }
  .payme-click > button > img {
    width: 170px;
  }
  .payme-click > button {
    height: 150px;
  }
  .payme > p {
    font-size: 40px;
    text-align: center;
  }
}
@media (max-width: 650px) {
  .payme-click {
    width: 510px;
  }
  .payme-click > button > img {
    width: 160px;
  }
  .payme-click > button {
    height: 140px;
  }
  .payme > p {
    font-size: 40px;
    text-align: center;
  }
}

@media (max-width: 620px) {
  .payme-click {
    width: 480px;
  }
  .payme-click > button > img {
    width: 160px;
  }
  .payme-click > button {
    height: 140px;
  }
  .payme > p {
    font-size: 40px;
    text-align: center;
  }
}
@media (max-width: 590px) {
  .payme-click {
    width: 430px;
  }
  .payme-click > button > img {
    width: 140px;
  }
  .payme-click > button {
    height: 120px;
  }
  .payme > p {
    font-size: 39px;
    text-align: center;
  }
}
@media (max-width: 540px) {
  .payme > label {
    font-size: 35px;
  }
  .payme > label > input {
    width: 230px;
    height: 70px;
    font-size: 35px;
  }
  .payme-click {
    width: 400px;
  }
  .payme-click > button > img {
    width: 130px;
  }
  .payme-click > button {
    height: 110px;
  }
  .payme > p {
    font-size: 39px;
    text-align: center;
  }
}

@media (max-width: 510px) {
  .payme-click {
    width: 370px;
  }
  .payme-click > button > img {
    width: 130px;
  }
  .payme-click > button {
    height: 110px;
  }
  .payme > p {
    font-size: 36px;
    text-align: center;
  }
  .payme > button {
    width: 380px;
  }
}
@media (max-width: 490px) {
  .payme-click {
    width: 350px;
  }
  .payme-click > button > img {
    width: 100px;
  }
  .payme-click > button {
    height: 100px;
  }
  .payme > p {
    font-size: 36px;
    text-align: center;
  }
  .payme > .payme__btn {
    width: 360px;
    font-size: 30px;
  }
}
@media (max-width: 460px) {
  .payme-click {
    width: 330px;
  }
  .payme-click > button > img {
    width: 100px;
  }
  .payme-click > button {
    height: 90px;
  }
  .payme > p {
    font-size: 34px;
    text-align: center;
  }
  .payme > .payme__btn {
    width: 340px;
    font-size: 27px;
  }
}
@media (max-width: 440px) {
  .payme-click {
    width: 300px;
  }
  .payme-click > button > img {
    width: 90px;
  }
  .payme > label {
    font-size: 32px;
  }
  .payme > label > input {
    width: 230px;
    height: 65px;
    font-size: 30px;
  }
  .payme-click > button {
    height: 80px;
  }
  .payme > p {
    font-size: 32px;
    text-align: center;
  }
  .payme > .payme__btn {
    width: 320px;
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .payme-click {
    width: 270px;
  }
  .payme-click > button > img {
    width: 80px;
  }
  .payme > label {
    font-size: 30px;
  }
  .payme > label > input {
    width: 210px;
    height: 60px;
    font-size: 30px;
  }
  .payme-click > button {
    height: 70px;
  }
  .payme > p {
    font-size: 32px;
    text-align: center;
  }
  .payme > .payme__btn {
    width: 290px;
    font-size: 24px;
  }
}

@media (max-width: 360px) {
  .payme-click {
    width: 270px;
  }
  .payme-click > button > img {
    width: 80px;
  }
  .payme > label {
    font-size: 30px;
  }
  .payme > label > input {
    width: 210px;
    height: 60px;
    font-size: 30px;
  }
  .payme-click > button {
    height: 70px;
  }
  .payme > p {
    font-size: 30px;
    text-align: center;
  }
  .payme > .payme__btn {
    width: 270px;
    font-size: 23px;
    padding: 10px;
  }
} */
